@import '/src/style/varColor.scss';
body{
    background-color: $bg-color;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.primary-title{
    margin: 0 auto;
    width: 240px;
    background: $bg-color-2;
    display: grid;
    justify-content: center;
    border-radius: 20px;
    color: white;
    margin-bottom: 50px;
}

.container-app {
    width: 600px;
    height: 600px;
    display: grid;
    margin: 0 auto;
    border-radius: 50px;
    background: $bg-color-2;
  }

