// Colores base
$bg-color: #2BC19E; 
$bg-color-2: #209077; 

// Colores rojos
$red-1: #2BC19E; 
$red-2: #C48B78;

// Colores amarillos
$yellow-1: #F3B52E; 
$yellow-2: #CF8526;

// Color azul oscuro
$dark-blue: #274D59; 

// Opcional: Puedes agregar variables adicionales para tonos neutros, etc.
