@import '/src/style/varColor.scss';

.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.title {
  display: grid;
  justify-items: center;

  h1 {
    font-size: 20px;
  }
}

.winner {
  border: 1px solid red;
  border-radius: 5px;
}


section {
  width: 600px;
  height: 600px;
  display: grid;
  margin: 0 auto;
  border-radius: 50px;
  background: $bg-color-2;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

}

.Icon {
  cursor: pointer;
  display: flex;
  background: $bg-color;
  border: 5px solid rgba(179, 171, 171, 0.281);
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  font-size: 88px;
  font-weight: bold;

  

  &:hover {

    &[data-cell="X"] {
      border-color: darken(#c40606, 10%);
    }

    &[data-cell="O"] {
      border-color: $yellow-2;
    }
  }

  .icon-orange {
    color: $yellow-2;
  }

  .icon-red {
    color: $red-1;
  }
}

.hover-X:hover {
  border-color: $red-2;
}

.hover-O:hover {
  border-color: $yellow-2;
}

.title {
  display: grid;
  justify-items: center;

  h1 {
    font-size: 70px;
  }
}

.timer-left {
  width: 180px;
  height: 250px;
  background-color: $bg-color-2;
  font-size: 130px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  
}

.turn-active {
  color:$red-1;

  .title-internal{
    color: white;
  }
  .O{
    background-color: #940a0a;
  }
}

.O.turn-active {
  color: #ffa500; 
  .X{
    background-color: $yellow-2;
  }
}
#O{
  color: white;
}




