@import '/src/style/varColor.scss';


.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

}

.title {
  display: grid;
  justify-items: center;
  color: $dark-blue ;

h1{
  font-size: 4rem;
}
}


.timer {
  width: 90%;
  height: 250px;
  background-color: $bg-color-2;
  font-size: 130px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  
}

.turn-active {
  color:$red-1;

  .title-internal{
    color: white;
  }
  .afterO{
    background-color: #940a0a;
  }
}

.O.turn-active {
  color: #ffa500; 
  .afterX{
    background-color: $yellow-2;
  }
}

.X{
  width: 90%;
  display: grid;
  justify-content: space-evenly;
    justify-items: center;
}
section {
  width: 600px;
  height: 600px;
  display: grid;
  margin: 0 auto;
  border-radius: 50px;
  background: $bg-color-2;
}

// grid 3x3
.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}


// icon and hover
.Icon {
  cursor: pointer;
  display: flex;
  background: $bg-color;
  border: 5px solid rgba(179, 171, 171, 0.281);
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  font-size: 88px;
  font-weight: bold;

  &:hover {

    &[data-cell="X"] {
      border-color: darken(#c40606, 10%);
    }

    &[data-cell="O"] {
      border-color: $yellow-2;
    }
  }

  .icon-orange {
    color: $yellow-2;
  }

  .icon-red {
    color: $red-2;
  }
}


// hover

.hover-O:hover {
  border-color: $yellow-2;
}

.hover-X:hover {
  border-color: $red-2;
}


// winning
.winner-cell-x {
  background-color: $red-1; 
}
.winner-cell-o {
  background-color: $yellow-1; 
}







