@import '/src/style/varColor.scss';

.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.Icon {
  cursor: pointer;
  display: flex;
  background: $bg-color;
  border: 5px solid rgba(179, 171, 171, 0.281);
  border-radius: 45px;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  font-size: 88px;
  font-weight: bold;


  &:hover {

    &[data-cell="X"] {
      border-color: darken(#c40606, 10%);
    }
    &[data-cell="O"] {
      border-color: $yellow-2;
    }
  }

  .icon-orange {
    color: $yellow-2;
  }

  .icon-red {
    color: #940a0a;
  }
}
.winning-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 5px;
    background-color: #000;
    z-index: 1;
  }
  
  