button {
  margin: 50px;
  width: 240px;
  height: 70px;
  background: red;
  border-radius: 50px;
  border: 1px solid red;
  font-size: 30px;
  color: white;
  box-shadow: 1px 5px 0px #771414f6;
  grid-column: 2/3;
  grid-row: 2/3;

  @media (max-width: 1000px) {
    grid-column: 3/2;
    grid-row: 2/3;
  }

  @media (max-width: 400px) {
    margin: 0;
  }

  transform: scaleY(1);
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: scaleY(0.9);
  }

}

.in-progress {
  margin: 50px;
  width: 300px;
  height: 70px;
  background: $bg-color-2;
  border-radius: 50px;
  border: 1px solid $bg-color-2;
  font-size: 30px;
  box-shadow: 1px 5px 0px $dark-blue;
  cursor: pointer;
  opacity: 0.5;

  @media (max-width: 400px) {
    width: 200px;
    margin: 0;
  }

}