@import '/src/style/varColor.scss';

.title{
display: grid;
justify-items: center;
    h1{
        font-size: 70px;
    }
}
.primaryTurn{
    width: 180px;
    height: 250px;
    background-color: $bg-color-2;
    font-size: 130px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}